// フォントカラー白にしたい！
// 背景画像の上にヘッダー載せたい！
.on {
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Syncopate", sans-serif;

  a {
    color: white;
  }

  .content {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
  }
}
.title {
  color: white;
  font-family: "Syncopate", sans-serif;
}
