.background {
  /* background-image: url(../../assets/img/1389902388.jpeg);
  width: 100%;
  background-size: cover; */
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
  display: flex;
}
