a {
  text-decoration: none;
  color: black;
}

/* HPの部分だけ背景黒にしたい */
body {
  margin: 0;
  /* background-color: black;
  color: white; */
}

.minus {
  color: red;
}

.activeBtn {
  background-color: gray;
}
